.pageContainer {
  position: relative;
  min-height: 100vh;
}

.contentWrap {
  padding-bottom: 50px;
}

.navbar {
  height: 80px;
  background-color: #0072ff;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  /* background-image: linear-gradient(15deg, #021B79 0%, #0575E6 100%); */
}

.ml-auto {
  padding: 20px;
}

#navBarToggle {
  color: black;
}

#collasible-nav-dropdown {
  /* color: #0072ff; */
  color: white;
  margin: 5px;
}

#navLink {
  color: white;
  margin: 5px;
}

#navBrand {
  font-family: 'Istok Web', sans-serif;
  font-size: 52px;
  margin-left: 20px;
  color: white;
  /* color: #0072ff; */
}

#collasible-nav-dropdown::after {
  content: none;
  padding: 0px 0px;
}

@media (max-width: 600px) {
  .navbar-collapse {
    background-color: #0072ff;
    z-index: 10000;
    opacity: 0.9;
  }
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 300px;
  border: 2px dashed #0072ff;
}

.passwordModal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 300px;
  border: 2px dashed #0072ff;
}

.mainImageText {
  background-size: cover;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  background-color: #ededed;
}

.welcomeText {
  font-size: 70px;
  text-align: left;
  font-family: 'Istok Web', sans-serif;
  padding-left: 50px;
  padding-top: 20px;
}

.connectWithUsText {
  font-size: 70px;
  text-align: center;
  font-family: 'Istok Web', sans-serif;
  padding-top: 40px;
  background-color: lightgray;
  height: 300px;
}

#eventButtonStyle {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 30px;
  height: 100px;
  width: 150px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: bold;
}

@media only screen and (max-width: 700px){
  #eventButtonStyle { 
    width: 25%;
  }

  .welcomeText {
    font-size: 25px;
  }

  #picture {
    margin-top: -280px;
    width: 100%;
    height: 100%
  }
}

@media only screen and (max-width: 500px){
  #eventButtonStyle { 
    width: 30%;
  }

  .welcomeText {
    font-size: 20px;
  }

  #picture {
    margin-top: -280px;
    width: 100%;
    height: 100%
  }
}

.footer {
  color: white;
  background-color: #45526e;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;  
}