.navbar {
  height: 80px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  /* background-image: linear-gradient(15deg, #0072ff 0%, #00c6ff 100%); */
}

.ml-auto {
  padding: 20px;
}

#collasible-nav-dropdown {
  color: #0072ff;
  margin: 5px;
}

#navLink {
  color: #0072ff;
  margin: 5px;
}

#navBrand {
  font-family: 'Istok Web', sans-serif;
  font-size: 52px;
  margin-left: 20px;
  color: #0072ff;
}

#collasible-nav-dropdown::after {
  content: none;
  padding: 0px 0px;
}

.mainImageText {
  background-size: cover;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}

.welcomeText {
  font-size: 70px;
  text-align: left;
  font-family: 'Istok Web', sans-serif;
  padding-left: 50px;
  padding-top: 20px;
}

.connectWithUsText {
  font-size: 70px;
  text-align: center;
  font-family: 'Istok Web', sans-serif;
  padding-top: 40px;
  background-color: lightgray;
  height: 300px;
}

.footer {
  /* position: absolute; */
  color: white;
  background-color: #45526e;
  padding: 100px;
  font-size: 18px;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
}